body {
    background-color: lightblue;
}

h1 {
    color: darkblue;
}

.site-title {
    text-align: center;
    margin: 20px 0 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background-color: white;

    border-bottom: 1px solid #ddd;
}


.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


.navbar a:hover {
    color: #0d6efd;
}


.welcome-user {
    text-align: center;

    margin-top: 10px;

    font-size: 18px;
    font-weight: 500;
}
.logout-container {
    position: fixed !important;
    right: 30px !important;
    bottom: 20px !important;
    z-index: 99999 !important;
}

.logout-btn,
.login-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
}

.logout-btn {
    background-color: #dc3545;
}

.logout-btn:hover {
    background-color: #bb2d3b;
    color: white;
}

.login-btn {
    background-color: #0d6efd;
}

.login-btn:hover {
    background-color: #0b5ed7;
    color: white;
}