{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2>Edit Teacher</h2>

    <div class="card shadow-sm">

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">
                    Update Teacher
                </button>

                <a href="{% url 'teachers_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}